<h1> this is remah's page </h1>
<h1> ansible architecture is : {{ansible_architecture}}</h1>
<h1> ansible os family : {{ansible_os_family}}</h1>
<h1> ansible node ip is  is : {{ansible_all_ipv4_addresses}}</h1>

